<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bet Now!</title>
</head>
<body>
<h1>Bet <span th:text="${result}"></span> now in <span th:text="${bookie}"></span>!</h1>
<b>Select the matches you want to bet on:</b><br>
<ul>
    <li th:each="map : ${matchesMap}"><a th:href="@{'/bet-in-bet123/' + ${result} + '/' + ${map.value}}" th:text="${map.key}"></a></li>
</ul>
<a href = "http://localhost:8080/index">Bring me back to the homepage!</a>
</body>
</html>