<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bet Now!</title>
</head>
<body>
<h1>Bet <span th:text="${result}"></span> now in <span th:text="${bookie}"></span>!</h1>
<form th:action="@{/bet-in-bet123}" th:object="${authinfo}" method="post">
    <label for="eventName">Please select the events you want to check: </label>
    <select class="form-control" name="eid">
        <option>Select Events</option>
        <option  th:each="list:${session.list}" th:value="${list}" th:text="${list}"></option>
    </select>
    <input type="submit" value="submit">
</form>
<a href = "http://localhost:8080/index">Bring me back to the homepage!</a>
</body>
</html>