<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
    <meta charset="UTF-8">
    <title>Orders</title>
    </head>

    <body>
    
        <h1>Orders you submitted on <span th:text="${bookie}"></span>!</h1>

        <b><span th:text="${result}"></span></b>

        <table border="1">
            <tr>
                <th>Match</th>
                <th>Amount</th>
                <th>Selection</th>
                <th>Odd</th>
            </tr>
            <tr  th:each="info : ${ordersTable}" >
                <th th:text="${info.match}"></th>
                <th th:text="${info.amount}"></th>
                <th th:text="${info.selection}"></th>
                <th th:text="${info.odd}"></th>
            </tr>
        </table>

        <a th:href="@{/index}">Return to homepage</a>

    </body>
</html>