<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <!--<h1><span th:text=${result}"></span></h1>-->

    <div class="form-popup" id="myForm">
            <form class="form-container">
                <h1>Visa</h1>

                <label><b>Card Number</b></label>
                <input type="text" placeholder="Enter Card Number" required>

                <label><b>Expiry Date</b></label>
                <input type="date" placeholder="Enter expiry date" required>

                <button type="submit" class="btn">Login</button>
                <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </body>
</html>