<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Come and Join Us!</title>
</head>
<body>
<h1>Please enter the following information.</h1>
<!--/*@thymesVar id="userinfo" type="com.example.domain.UserInfo"*/-->
<form th:action="@{/register}" th:object="${userinfo}" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username"  id="username"/>
    <label for="age">Age:</label>
    <input type="text" name="age"  id="age"/>
    <label for="email">Email:</label>
    <input type="text" name="email"  id="email"/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
    <input type="submit" value="submit" onclick="return ischeckemail()">
</form>
</body>
<script th:src="@{/js/bookie.js}"></script>
</html>